package components

import "github.com/brunompx/angula/model"

templ ProductsList(products []model.Product) {

	
	<div id="product-list" class="columns is-multiline">
		for _, product := range products {
			@ProductTile(&product)
		}
	</div>
}
